doctype html
html(manifest = dev ? '' : 'manifest.appcache')
	include includes/head
	body
		
		.row.center-xs.middle-xs(style='height:100vh;'): .col-xs(style='height:100%;')
			.cube-window
				article.cube
					section.face.left
						h1 Front face
					section.face.middle
						h1 Top face
					section.face.right
						h1 Bottom face

	script(src='js/lib.min.js')
	script(src='js/app.js')
	script(src='js/ultimate-cube.js')
