doctype html
html(manifest = dev ? '' : 'manifest.appcache')
  include includes/head
  body
    
    //- flexbox centering and layout
    .row.center-xs.middle-xs(style='height:100vh;'): #demo.col-xs

  script(src='js/lib.min.js')
  script(src='js/n-gon.js')
  script.
    nGon.init('demo', {
      //- init with data
      data: [
        '<h1>First</h1>',
        [
          '<div class="poly"><h1>Top</h1></div>',
          '<div class="poly"><h1>Second</h1></div>',
          '<div class="poly"><h1>Bottom</h1></div>'
        ],
        '<img src="https://placekitten.com/g/500/500">',
        '<h1>Fourth</h1>',
        [
          '<div class="poly"><img src="https://placekitten.com/g/500/500"></div>',
          '<div class="poly"><img src="https://placekitten.com/g/800/500"></div>',
          '<div class="poly"><img src="https://placekitten.com/g/700/500"></div>'
        ],
        '<h1>Sixth</h1>'
      ]
    });

    //- append more data later
    nGon.append('<h1>Final</h1>');

    //- listen for events
    nGon.flipEnd(function(dir, faces){ 
      //- console.log(dir, faces); 
    });
