doctype html
html(manifest = dev ? '' : 'manifest.appcache')
  include includes/head
  body
    
    //- flexbox centering and layout
    .row.center-xs.middle-xs(style='height:100vh;'): .col-xs(style='height:100%;')

      //- window provides 3D viewport and perspective
      #n-gon.cube-window

  script(src='js/lib.min.js')
  script(src='js/n-gon.js')
  script.
    nGon.init();
    nGon.flipEnd(function(dir, faces){ console.log(dir, faces); });
