doctype html
html(manifest = dev ? '' : 'manifest.appcache')
  include includes/head
  body
    header.row.center-xs
      .col-xs
        a#wires(href='#') Wireframe Mode
      .col-xs
        a#append(href='#') Add a face
    
    //- flexbox centering and layout
    .row.center-xs.middle-xs(style='height:calc(100vh - 50px);')
      #demo.col-xs

  script(src='js/lib.min.js')
  script(src='js/n-gon.js')
  script(src='js/demo.js')
  script(src='js/example.js')
