#demo
  max-width:300px
  height:300px
  
  @media tablet
    max-width:600px
    height:600px
    
  @media desktop
    max-width:800px
    height:800px
  
  @media (max-height: 768px) and (max-width: 1024px)
    max-width:400px
    height:400px