.cube-window,
.face
  position:absolute
  width:100%
  height:100%
  top:0
  left:0

.cube-window
  perspective:800
  perspective-origin:50% 50%
  
  & > .face
    position:absolute
    background:hsla(200,100%,50%,50%)
    color:white
    will-change:transform
    transform-style:preserve-3d